
.c-blanco{
    color: white !important;
}

.c-gris {
    color: gray;
}

.h2-pills2 {
    text-align: left !important;
    width: 1000px;
}

.grids-img {
    width: 400px !important; 
    height: 247.50px !important;
}

